<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>歴代総理大臣一覧</title>
</head>
<body>
  <h2>歴代総理大臣の詳細</h2>
  <table>
    <tr><th>代数</th><th>氏名</th><th>就任年</th></tr>
      
      <% for( let row of data ) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.start %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>